body {
  background-color:grey;
}
paragraph{
  background-color:red;
}
.echo{
  color:red;
  background-color:green;
  border: 12px; green;
}
.delta{
  color:blue;
  border:12px; yellow;
  background-color:green;
}
