body {
  backround-color: black;
  color: black;
  border: 15px black;
  text-align: center;
  font-family: calibri;
  text-decoration: underline;
}

p {
  
}

img {
  width: 200px;
  height: auto;
}
