h1, p {
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}
  
body {
  /**background-color: #C5C8C9;**/
  background-color: #ccffff;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

.boxes {
  background-color: #919394;
  padding: 5%;
  margin: 0 5% 5% 5%;
}
