
h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
  
body {
  background-color: #C5C8C9;
  /**background-color: #ccffff;**/
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

.boxes {
  /**background-color: #919394;**/
  background-color: #d3d3d3;
  padding: 5%;
  margin: 0 5% 5% 5%;
}
